@model GEM.Repository.Escala
@{
    Layout = null;
    Semana DiasSemana = Model.GetDiasSemana();
}

<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>

<div class="row">
    <input type="hidden" name="Cod_Escala" value="@(Model.Cod_Escala)" />
    <input type="hidden" name="Cod_Usuario" value="@(Model.Cod_Usuario)" />

    <div class="form-group col-sm-12">
        <label class="control-label">Título</label>
        <input type="text" class="form-control" name="Nome" value="@(Model.Nome)" />
    </div> 
    <div class="form-group col-sm-3">
        <label class="control-label">Inicio</label>
        <input type="date" class="form-control" name="Inicio" value='@(Model.Inicio.ToString("yyyy-MM-dd"))' />
    </div> 
    <div class="form-group col-sm-3">
        <label class="control-label">Fim</label>
        <input type="date" class="form-control" name="Fim" value='@(Model.Fim.ToString("yyyy-MM-dd"))' />
    </div> 
    <div class="form-group col-sm-3">
        <label class="control-label">Sequencial por data?</label>
        <input type="text" class="form-control" name="DiaSequencial" value="@(Model.DiaSequencial)" />
    </div> 
    <div class="form-group col-sm-3">
        <label class="control-label">Toca-se 2 por culto?</label>
        <input type="text"   value="@(Model.Dupla)" />
        <select class="form-control" name="Dupla">
            <option value="">Não</option>
            <option>Sim</option>
        </select>
    </div> 
    
    
    <div class="form-group col-md-12">
        <input type="hidden" id="dias_dom" name="DiasSemana.Dom" value="@(DiasSemana.Dom.ToString())">
        <input type="hidden" id="dias_seg" name="DiasSemana.Seg" value="@(DiasSemana.Seg.ToString())">
        <input type="hidden" id="dias_ter" name="DiasSemana.Ter" value="@(DiasSemana.Ter.ToString())">
        <input type="hidden" id="dias_qua" name="DiasSemana.Qua" value="@(DiasSemana.Qua.ToString())">
        <input type="hidden" id="dias_qui" name="DiasSemana.Qui" value="@(DiasSemana.Qui.ToString())">
        <input type="hidden" id="dias_sex" name="DiasSemana.Sex" value="@(DiasSemana.Sex.ToString())">
        <input type="hidden" id="dias_sab" name="DiasSemana.Sab" value="@(DiasSemana.Sab.ToString())">
        <div class="btn-group" role="group">
            <button type="button" class='btn @(DiasSemana.Dom ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#dias_dom')"> <i class='fa @(DiasSemana.Dom ? "fa-check-square-o" : "fa-square-o")'></i> Dom</button>
            <button type="button" class='btn @(DiasSemana.Seg ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#dias_seg')"> <i class='fa @(DiasSemana.Seg ? "fa-check-square-o" : "fa-square-o")'></i> Seg</button>
            <button type="button" class='btn @(DiasSemana.Ter ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#dias_ter')"> <i class='fa @(DiasSemana.Ter ? "fa-check-square-o" : "fa-square-o")'></i> Ter</button>
            <button type="button" class='btn @(DiasSemana.Qua ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#dias_qua')"> <i class='fa @(DiasSemana.Qua ? "fa-check-square-o" : "fa-square-o")'></i> Qua</button>
            <button type="button" class='btn @(DiasSemana.Qui ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#dias_qui')"> <i class='fa @(DiasSemana.Qui ? "fa-check-square-o" : "fa-square-o")'></i> Qui</button>
            <button type="button" class='btn @(DiasSemana.Sex ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#dias_sex')"> <i class='fa @(DiasSemana.Sex ? "fa-check-square-o" : "fa-square-o")'></i> Sex</button>
            <button type="button" class='btn @(DiasSemana.Sab ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#dias_sab')"> <i class='fa @(DiasSemana.Sab ? "fa-check-square-o" : "fa-square-o")'></i> Sab</button>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="control-label">Usuarios</label>
        <input type="text" class="form-control" name="Usuarios" value="@(Model.Usuarios)" />
    </div> 
</div> 

<script>
    function ChangeValue(e, id){
        $(e).removeClass("btn-dark");
        $(e).removeClass("btn-secondary");

        $(e).find(".fa").removeClass("fa-square-o");
        $(e).find(".fa").removeClass("fa-check-square-o");

        if($(id).val()=="True"){
            $(id).val("False");
            $(e).addClass("btn-secondary");
            $(e).find(".fa").addClass("fa-square-o");
        }else{
            $(id).val("True");
            $(e).addClass("btn-dark");
            $(e).find(".fa").addClass("fa-check-square-o");
        }
    }
</script>