@model GEM.Repository.Escala
@{
    Layout = null;
    Semana DiasSemana = Model.GetDiasSemana();
}

<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>

<div class="row">
    <input type="hidden" name="Cod_Escala" value="@(Model.Cod_Escala)" />
    <input type="hidden" name="Cod_Usuario" value="@(Model.Cod_Usuario)" />
    <input type="hidden" name="Cod_Comum" value="@(Model.Cod_Comum)" />
    <input type="hidden" name="Dias" value="@(Model.Dias)" />
    <input type="hidden" name="Usuarios" value="@(Model.Usuarios)" />

    <div class="form-group col-sm-8">
        <label class="control-label">Título</label>
        <input type="text" class="form-control" name="Nome" value="@(Model.Nome)" />
    </div>
    @if(Model.Cod_Escala==0){
    <div class="form-group col-sm-4">
            <label class="control-label">Tipo</label>
            <select class="form-control" onchange="SelecionaTipo(@(Model.Cod_Comum), this)">
                <option></option>
                <option value="Organistas_Oficializadas">Organistas Oficializadas</option>
                <option value="Organistas_RJM">Organistas RJM</option>
                <option value="Instrutores">Instrutores</option>
            </select>
        </div>
    }
</div>

<div class="row">
     
     
    <div class="form-group col-sm-3">
        <label class="control-label">Inicio</label>
        <input type="date" class="form-control" name="Inicio" value='@(Model.Inicio.ToString("yyyy-MM-dd"))' />
    </div> 
    <div class="form-group col-sm-3">
        <label class="control-label">Fim</label>
        <input type="date" class="form-control" name="Fim" value='@(Model.Fim.ToString("yyyy-MM-dd"))' />
    </div> 
    <div class="form-group col-sm-3">
        <label class="control-label">Sequencial por data?</label>
        <select class="form-control" name="DiaSequencial">
            <option value="False" selected="@(!Model.DiaSequencial)">Não</option>
            <option value="True" selected="@(Model.DiaSequencial)">Sim</option>
        </select>
    </div> 
    <div class="form-group col-sm-3">
        <label class="control-label">Toca-se 2 por culto?</label>
        <select class="form-control" name="Dupla">
            <option value="False" selected="@(!Model.Dupla)">Não</option>
            <option value="True" selected="@(Model.Dupla)">Sim</option>
        </select>
    </div> 
    
    
    <div id="Dias" class="form-group col-md-12">
        @await Html.PartialAsync("~/Views/Escala/Dias.cshtml", DiasSemana)
    </div>
    @if(Model.Cod_Escala==0){
        <div id="Usuarios" class="form-group col-sm-12">
            @await Html.PartialAsync("~/Views/Escala/Usuarios.cshtml", new List<GEM.Repository.Usuario>())
        </div>
    }else{
        <div id="Usuarios" class="form-group col-sm-12">
            @foreach (var item in Model.GetUsuarios())
            {
                <span class="form-group btn btn-sm btn-info">@(item)</span>
            }
        </div>
    }
     
</div> 

<script>
    function SelecionaTipo(Cod_Comum, e){
        rsp.post({ Cod_Comum, Tipo: $(e).val() },"/Escala/Dias","#Dias");
        rsp.post({ Cod_Comum, Tipo: $(e).val() },"/Escala/Usuarios","#Usuarios");
    }
    function ChangeValue(e, id){
        $(e).removeClass("btn-dark");
        $(e).removeClass("btn-secondary");

        $(e).find(".fa").removeClass("fa-square-o");
        $(e).find(".fa").removeClass("fa-check-square-o");

        if($(id).val()=="True"){
            $(id).val("False");
            $(e).addClass("btn-secondary");
            $(e).find(".fa").addClass("fa-square-o");
        }else{
            $(id).val("True");
            $(e).addClass("btn-dark");
            $(e).find(".fa").addClass("fa-check-square-o");
        }
    }
</script>