@model List<GEM.Repository.Escala>
@{
  Layout = null;
}
<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>Título</th>
        <th>Inicio</th>
        <th>Fim</th>
        <th>Usuarios</th>
        <th>Em dupla</th>
        <th>Sequencial</th>
        <th>Instrutor</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <th>@item.Nome</th>
          <td>@item.Inicio.ToString("dd/MM/yy")</td>
          <td>@item.Fim.ToString("dd/MM/yy")</td>
          <th>@item.GetUsuarios().Length</th>  
          <td>@(item.Dupla ? "Sim" : "Não")</td>
          <td>@(item.DiaSequencial ? "Sim" : "Não")</td>
          <td>@item.Instrutor</td>
          <td><a class="btn btn-info btn-sm" href="/Escala/Visualizar/@(item.Cod_Escala)"> <i class="fa fa-eye"></i> Visualizar</a></td>
          <td>
            <button class="btn btn-secondary btn-sm" onclick='Edita(@(GEM.Helpers.JSON.Serialize(item)))'> <i class="fa fa-pencil"></i> Editar</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" onclick='DesejaRemover(@(item.Cod_Escala), "@(item.Cod_Usuario)")'><i class="fa fa-trash"></i> Apagar</button>
          </td>
        </tr>    
      }
    </tbody>
  </table>
</div> 
