@model GEM.Repository.Arquivo
@{
    Layout = null;
}

<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>

<div class="row">
    <input type="hidden" name="Cod_Arquivo" value="@(Model.Cod_Arquivo)" />
    <input type="hidden" name="Cod_Usuario" value="@(Model.Cod_Usuario)" />
     
    <div class="form-group col-sm-12">
        <label class="control-label">Url</label>
        <input type="text" class="form-control" name="Url" value="@(Model.Url)" />
    </div> 
    
    <div class="form-group col-md-12">
        <input type="hidden" id="Instrutor" name="Instrutor" value="@(Model.Instrutor.ToString())">
        <input type="hidden" id="Oficializado" name="Oficializado" value="@(Model.Oficializado.ToString())">
        <input type="hidden" id="RJM" name="RJM" value="@(Model.RJM.ToString())">
        <input type="hidden" id="Aluno" name="Aluno" value="@(Model.Aluno.ToString())">
        <div class="btn-group" role="group">
            <button type="button" class='btn @(Model.Instrutor ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#Instrutor')"> <i class='fa @(Model.Instrutor ? "fa-check-square-o" : "fa-square-o")'></i> Instrutores</button>
            <button type="button" class='btn @(Model.Oficializado ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#Oficializado')"> <i class='fa @(Model.Oficializado ? "fa-check-square-o" : "fa-square-o")'></i> Oficializados</button>
            <button type="button" class='btn @(Model.RJM ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#RJM')"> <i class='fa @(Model.RJM ? "fa-check-square-o" : "fa-square-o")'></i> RJM</button>
            <button type="button" class='btn @(Model.Aluno ? "btn-dark" : "btn-secondary")' onclick="ChangeValue(this, '#Aluno')"> <i class='fa @(Model.Aluno ? "fa-check-square-o" : "fa-square-o")'></i> Alunos</button>
        </div>
    </div>
</div> 

<script>
    function ChangeValue(e, id){
        $(e).removeClass("btn-dark");
        $(e).removeClass("btn-secondary");

        $(e).find(".fa").removeClass("fa-square-o");
        $(e).find(".fa").removeClass("fa-check-square-o");

        if($(id).val()=="True"){
            $(id).val("False");
            $(e).addClass("btn-secondary");
            $(e).find(".fa").addClass("fa-square-o");
        }else{
            $(id).val("True");
            $(e).addClass("btn-dark");
            $(e).find(".fa").addClass("fa-check-square-o");
        }
    }
</script>