@{
    Layout = null;
    string categorias = GEM.Helpers.JSON.Serialize(ViewBag.categorias);
    string vozes = GEM.Helpers.JSON.Serialize(ViewBag.vozes);
    string vozesCordas = (ViewBag.vozesCordas != null ? GEM.Helpers.JSON.Serialize(ViewBag.vozesCordas) : "[]");
    string vozesMadeiras = (ViewBag.vozesMadeiras != null ? GEM.Helpers.JSON.Serialize(ViewBag.vozesMadeiras) : "[]");
    string vozesMetais = (ViewBag.vozesMetais != null ? GEM.Helpers.JSON.Serialize(ViewBag.vozesMetais) : "[]");
    string instrumentos = GEM.Helpers.JSON.Serialize(ViewBag.instrumentos);
}

<style>
        .chart {
            width: 100%; 
            min-height: 450px;
        }
    </style>

<div class="row">
    <div class="form-group col-md-6">
        <div id="chart_div_category" class="chart"></div>
    </div>
    <div class="form-group col-md-6">
        <div id="chart_div_voices" class="chart"></div>
    </div>
    <div class="form-group col-md-4">
        <div id="chart_div_vozes_cordas" class="chart"></div>
    </div>
    <div class="form-group col-md-4">
        <div id="chart_div_vozes_madeiras" class="chart"></div>
    </div>
    <div class="form-group col-md-4">
        <div id="chart_div_vozes_metais" class="chart"></div>
    </div>
    <div class="form-group col-md-12">
        <div id="chart_div_instruments" class="chart"></div>
    </div>
</div>
    <!--Div that will hold the pie chart-->
    
    
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
		google.charts.load('current', {'packages':['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChartCategory);
	google.charts.setOnLoadCallback(drawChartVoices);
    google.charts.setOnLoadCallback(drawChartVozesCordas);
    google.charts.setOnLoadCallback(drawChartVozesMadeiras);
    google.charts.setOnLoadCallback(drawChartVozesMetais);
    google.charts.setOnLoadCallback(drawChartInstruments);
		
	  // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartCategory() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nome');
        data.addColumn('number', 'Qtde.');
        data.addRows(@Html.Raw(categorias));

        // Set chart options
        var options = {
            'title':'Distribuição por categoria',
            //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
            colors: ['#35bf30', '#bf3030', '#3051bf', '#36bf30', '#7630bf', '#bf8730', '#30bfbf', '#bf30ae']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div_category'));
        chart.draw(data, options);
      }
	  
	  // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartVoices() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nome');
        data.addColumn('number', 'Qtde.');
        data.addRows(@Html.Raw(vozes));

        // Set chart options
        var options = {
            'title':'Distribuição por vozes',
            //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
            colors: ['#bf30ae', '#30bfbf', '#bf8730', '#7630bf', '#305dbf', '#bf3030', '#bfb630', '#36bf30']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div_voices'));
        chart.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartVozesCordas() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nome');
        data.addColumn('number', 'Qtde.');
        data.addRows(@Html.Raw(vozesCordas));

        // Set chart options
        var options = {
            'title':'Distribuição por vozes (Cordas)',
            //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
            colors: ['#35bf30', '#428040', '#30bfa5', '#30bfb6']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div_vozes_cordas'));
        chart.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartVozesMadeiras() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nome');
        data.addColumn('number', 'Qtde.');
        data.addRows(@Html.Raw(vozesMadeiras));

        // Set chart options
        var options = {
            'title':'Distribuição por vozes (Madeira)',
            //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
            colors: ['#bf3030', '#804040', '#bf8730', '#806740']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div_vozes_madeiras'));
        chart.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartVozesMetais() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nome');
        data.addColumn('number', 'Qtde.');
        data.addRows(@Html.Raw(vozesMetais));

        // Set chart options
        var options = {
            'title':'Distribuição por vozes (Metais)',
            //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
            colors: ['#3051bf', '#404f80', '#9d30bf', '#704080']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div_vozes_metais'));
        chart.draw(data, options);
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartInstruments() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nome');
        data.addColumn('number', 'Qtde.');
        data.addRows(@Html.Raw(instrumentos));

        // Set chart options
        var options = {
            'title':'Distribuição por instrumentos',
            hAxis: {title: 'Instrumentos', titleTextStyle: {color: 'black'}},
            colors: ['#405480', '#804040', '#bfb630', '#36bf30', '#7630bf', '#bf8730', '#30bfbf', '#bf30ae']
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_instruments'));
        chart.draw(data, options);
      }
    </script>