@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model List<GEM.Repository.TipoEstudo>
@{
  Layout = null;
  UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
}
<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Controle</th>
        @if(sessao.Dev()){
          <th></th>
          <th></th>
        }
        
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.Nome</td>
          <td>@item.Controle</td>
          @if(sessao.Dev()){
            <td>
              <button class="btn btn-secondary btn-sm" onclick='Edita(@(GEM.Helpers.JSON.Serialize(item)))'> <i class="fa fa-pencil"></i> Editar</button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" onclick='DesejaRemover(@(item.Cod_Tipo), "@(item.Nome)")'><i class="fa fa-trash"></i> Apagar</button>
            </td>
          }
        </tr>    
      }
    </tbody>
  </table>
</div> 
