@model List<GEM.Repository.Estudo>
@{
  Layout = null;
}

<div class="row">
  <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
      </div>
    </div>

    <div class="form-group col-sm-4">
      <label>Nome</label>
      <input class="form-control" value="@(ViewBag.Aluno)" disabled>
    </div>
    <div class="form-group col-sm-4">
      <label>Instrumento</label>
      <input class="form-control" value="@(ViewBag.Instrumento)" disabled>
    </div>
    <div class="form-group col-sm-4">
      <label>Data</label>
      <input class="form-control" value='@(ViewBag.Data.ToString("dd/MM/yyyy"))' disabled>
    </div>
</div>

<div id="ListaAula">
  @await Html.PartialAsync("~/Views/Presenca/ListaAula.cshtml", Model)
</div>

<script>
  function AulaTipoChange(e){
    rsp.post({ Cod_Tipo : $(e).val(), input_name: "estudo.Numero" }, "/Presenca/Controle", (res)=>{
      $("#AulaControle").html(res);
    })
  }

  function ListaAula(Cod_Presenca){
    rsp.post({ Cod_Presenca }, "/Presenca/ListaAula", "#ListaAula");
  }

  function AdicionaAula(Cod_Presenca){
      rsp.post("#DadosAula", "/Presenca/AdicionaAula", "#ListaAula")
  }
 
  function RemoveAula(Cod_Presenca, Cod_Estudo, Descricao){
      rsp.post({Cod_Presenca, Cod_Estudo, Descricao:'@(GEM.Helpers.Util.ShortName(ViewBag.Aluno)) @(ViewBag.Data.ToString("dd/MM/yyyy")) ' + Descricao }, "/Presenca/RemoveAula", "#ListaAula")
  }
</script>