@model List<GEM.Repository.UsuarioPresenca>
@{
  Layout = null;
}
<div class="btn-group" role="group" aria-label="Filtro">
        <button type="button" class='btn @(ViewBag.q==null || ViewBag.q=="Todos"?"btn-dark":"btn-secondary")' onclick="Filtro('Todos')">Todos</button>
        <button type="button" class='btn @(ViewBag.q=="Presente"?"btn-dark":"btn-secondary")' onclick="Filtro('Presente')">Presente</button>
        <button type="button" class='btn @(ViewBag.q=="Ausente"?"btn-dark":"btn-secondary")' onclick="Filtro('Ausente')">Ausente</button>
    </div>

    <div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Instrumento</th>
        <th>Situação</th>
        <th>Aula</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.Nome</td>
          <td>@item.Instrumento</td>
          <td>
            @if(item.Cod_Presenca == 0){
                <button class="btn btn-secondary btn-sm" onclick='RegistraPresenca(@(item.Cod_Usuario))'> <i class="fa fa-exclamation"></i> Falta</button>
            }
            else{
                <button class="btn btn-success btn-sm" onclick='RegistraAusencia(@(item.Cod_Usuario))'> <i class="fa fa-flag"></i> Presente</button>
            }
          </td>
          <td>
            @if(item.Cod_Presenca != 0){
              <button class="btn btn-info btn-sm" onclick='Aula(@(item.Cod_Presenca))'> <i class="fa fa-book"></i> Conteúdo</button>
            }
          </td>
        </tr>    
      }
    </tbody>
  </table>
</div>