@model List<GEM.Repository.UsuarioPresenca>
@{
  Layout = null;
}

<div class="row">
    <div class="form-group col-sm-6">
        <div class="btn-group" role="group" aria-label="Filtro controle de presença">
            <button id="btn_todos" type="button" class='btn ' onclick="FiltroPresenca('Todos')">Todos</button>
            <button id="btn_presente" type="button" class='btn ' onclick="FiltroPresenca('Presente')">Presente</button>
            <button id="btn_ausente" type="button" class='btn ' onclick="FiltroPresenca('Ausente')">Ausente</button>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div class="btn-group float-right" role="group" aria-label="Filtro usuários">
            <button id="btn_usuarios" type="button" class='btn ' onclick="FiltroUsuario('Todos')">Todos</button>
            <button id="btn_instrutores" type="button" class='btn ' onclick="FiltroUsuario('Instrutores')">Instrutores</button>
            <button id="btn_alunos" type="button" class='btn ' onclick="FiltroUsuario('Alunos')">Alunos</button>
        </div>
    </div>
</div>
    
    
  
    

    <div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Instrumento</th>
        <th>Situação</th>
        <th>Aula</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
        <tr class='tr_usuario @(item.Cod_Presenca == 0?"tr_ausente":"tr_presente") @(item.Instrutor?"tr_instrutor":"") @(item.Aluno?"tr_aluno":"")'>
          <td>@item.Nome</td>
          <td>@item.Instrumento</td>
          <td>
            @if(item.Cod_Presenca == 0){
                <button class="btn btn-secondary btn-sm" onclick='RegistraPresenca(@(item.Cod_Usuario))'> <i class="fa fa-exclamation"></i> Falta</button>
            }
            else{
                <button class="btn btn-success btn-sm" onclick='RegistraAusencia(@(item.Cod_Usuario))'> <i class="fa fa-flag"></i> Presente</button>
            }
          </td>
          <td>
            @if(item.Cod_Presenca != 0 && item.Aluno){
              <button class="btn btn-info btn-sm" onclick='Aula(@(item.Cod_Presenca))'> <i class="fa fa-book"></i> Aula</button>
            }
          </td>
        </tr>    
      }
    </tbody>
  </table>
</div>