@model List<GEM.Repository.UsuarioPresenca>
@{
  Layout = null;
}

<div class="noprint row">
    <div class="form-group col-sm-6">
        <div class="btn-group" role="group" aria-label="Filtro controle de presença">
            <button id="btn_todos" type="button" class='btn btn-dark' onclick="FiltroPresenca('Todos')">Todos</button>
            <button id="btn_presente" type="button" class='btn btn-secondary' onclick="FiltroPresenca('Presente')">Presente</button>
            <button id="btn_ausente" type="button" class='btn btn-secondary' onclick="FiltroPresenca('Ausente')">Ausente</button>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div class="btn-group float-right" role="group" aria-label="Filtro usuários">
            <button id="btn_usuarios" type="button" class='btn btn-dark' onclick="FiltroUsuario('Todos')">Todos</button>
            <button id="btn_instrutores" type="button" class='btn btn-secondary' onclick="FiltroUsuario('Instrutores')">Instrutores</button>
            <button id="btn_alunos" type="button" class='btn btn-secondary' onclick="FiltroUsuario('Alunos')">Alunos</button>
        </div>
    </div>
</div>

<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Instrumento</th>
        <th>Situação</th>
        <th>Aula</th>
        <th>Histórico</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
        <tr class='tr_usuario @(item.Cod_Presenca == 0?"tr_ausente":"tr_presente") @(item.Instrutor?"tr_instrutor":"") @(item.Aluno?"tr_aluno":"")'>
          <td>@item.Nome</td>
          <td>@item.Instrumento</td>
          <td>
            @if(item.Cod_Presenca == 0){
                <button class="btn btn-secondary btn-sm" onclick='RegistraPresenca(@(item.Cod_Usuario))'> <i class="fa fa-exclamation"></i> Falta</button>
                @if(item.Cod_Justificativa==0){
                  <button class="btn btn-warning btn-sm" onclick="Justificativa(@(item.Cod_Usuario), '@(item.Nome)', '@(item.Instrumento)')"> <i class="fa fa-exclamation-triangle"></i> Justificar </button>
                }else{
                  <button class="btn btn-secondary btn-sm" onclick="Justificativa(@(item.Cod_Usuario), '@(item.Nome)', '@(item.Instrumento)')"> <i class="fa fa-exclamation-triangle"></i> Justificada </button>
                }
                
            }
            else{
                <button class="btn btn-success btn-sm" onclick='RegistraAusencia(@(item.Cod_Usuario))'> <i class="fa fa-flag"></i> Presente</button>
            }
          </td>
          <td>
            @if(item.Cod_Presenca != 0 && item.Aluno){
              <button class="btn btn-info btn-sm" onclick="Aula(@(item.Cod_Presenca), '@(item.Nome)', '@(item.Instrumento)')"> <i class="fa fa-book"></i> Conteúdo</button>
            }
          </td>
          <td>
              <button class="btn btn-info btn-sm" onclick='Historico(@(item.Cod_Usuario), "@(item.Nome)", "@(item.Instrumento)", @(item.Aluno?"true":"false"))'> <i class="fa fa-history"></i></button>
          </td>
        </tr>    
      }
    </tbody>
  </table>
</div>