@model GEM.Repository.Usuario
@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
    UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
}

<div class="alert alert-danger" role="alert">
    This is a danger alert check it out!
</div>

<div class="row">
    <input type="hidden" name="Cod_Usuario" value="@(Model.Cod_Usuario)" />
    
    <div class="form-group col-sm-8">
        <label class="control-label">Nome</label>
        <input type="text" class="form-control" name="Nome" value="@(Model.Nome)" />
    </div> 

    <div class="form-group col-sm-4">
        <label>&nbsp;</label>
        @if (!string.IsNullOrEmpty(Model.Email)) { 
            <button id="btn_convite" class="btn btn-info btn-block" onclick="EnviarConvite('@(Model.Email)')">Enviar convite de acesso</button>
        }
    </div>
    <div class="form-group col-sm-6">
        <label class="control-label">Email</label>
        <input type="text" class="form-control" name="Email" value="@(Model.Email)" />
    </div> 
    <div class="form-group col-sm-6">
        <label class="control-label">Telefone</label>
        <input type="text" class="form-control phone" name="Telefone" value="@(Model.Telefone)" />
    </div> 
    <div class="form-group col-sm-12">
        <label class="control-label">Endereco</label>
        <input type="text" class="form-control" name="Endereco" value="@(Model.Endereco)" />
    </div> 
    <div class="form-group col-md-2 col-sm-4">
        <label class="control-label">Aluno</label>
        <select class="form-control" name="Aluno">
            <option value="false" selected="@(!Model.Aluno)">Não</option>
            <option value="true" selected="@(Model.Aluno)">Sim</option>
        </select>
    </div> 
    <div class="form-group col-md-2 col-sm-4">
        <label class="control-label">RJM</label>
        <select class="form-control" name="RJM">
            <option value="false" selected="@(!Model.RJM)">Não</option>
            <option value="true" selected="@(Model.RJM)">Sim</option>
        </select>
    </div> 
    <div class="form-group col-md-2 col-sm-4">
        <label class="control-label">Instrutor</label>
        <select class="form-control" name="Instrutor">
            <option value="false" selected="@(!Model.Instrutor)">Não</option>
            <option value="true" selected="@(Model.Instrutor)">Sim</option>
        </select>
    </div> 
    <div class="form-group col-md-2 col-sm-4">
        <label class="control-label">Oficializado</label>
        <select class="form-control" name="Oficializado">
            <option value="false" selected="@(!Model.Oficializado)">Não</option>
            <option value="true" selected="@(Model.Oficializado)">Sim</option>
        </select>
    </div> 
    @if(sessao.Admin){
        <div class="form-group col-md-2 col-sm-4">
            <label class="control-label">Admin</label>
            <select class="form-control" name="Admin">
                <option value="false" selected="@(!Model.Admin)">Não</option>
                <option value="true" selected="@(Model.Admin)">Sim</option>
            </select>
        </div>
    }
    <div class="form-group col-md-2 col-sm-4">
            <label class="control-label">Ativo</label>
            <select class="form-control" name="Ativo">
                <option value="false" selected="@(!Model.Ativo)">Não</option>
                <option value="true" selected="@(Model.Ativo)">Sim</option>
            </select>
        </div>
     
    <div class="form-group col-sm-6">
        <label class="control-label">Instrumento</label>
        @await Html.PartialAsync("~/Views/Shared/_Combo.cshtml", new GEM.Models.Combo(){
            Class="form-control",
            Name="Cod_Instrumento",
            Items=GEM.Repository.Instrumento.List().Select(e=>new ComboItem(){Text=e.Nome,Value=e.Cod_Instrumento.ToString()}).ToList(),
            SelectedItem=Model.Cod_Instrumento.ToString()            
        })
    </div>
    @if(sessao.Admin){
        <div class="form-group col-sm-6">
            <label class="control-label">Comum Congregação</label>
            @await Html.PartialAsync("~/Views/Shared/_Combo.cshtml", new GEM.Models.Combo(){
                Class="form-control",
                Name="Cod_Comum",
                Items=GEM.Repository.Comum.List().Select(e=>new ComboItem(){Text=e.Nome,Value=e.Cod_Comum.ToString()}).ToList(),
                SelectedItem=Model.Cod_Comum.ToString()            
            })
        </div>  
    }
    <div class="form-group col-sm-12">
        <label class="control-label">Observacao</label>
        <input type="text" class="form-control" name="Observacao" value="@(Model.Observacao)" />
    </div> 
</div> 


