@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model List<GEM.Repository.Usuario>
@{
  Layout = null;
  UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
}

<div class="row">
  <div id="FiltroStatus" class="col-md-6">
      <div class="btn-group form-group" role="group">
        <button type="button" class='btn @(ViewBag.Status==null || ViewBag.Status=="Todos"?"btn-dark":"btn-secondary")' onclick="FiltroStatus('Todos')">Todos</button>
        <button type="button" class='btn @(ViewBag.Status=="Ativo"?"btn-dark":"btn-secondary")' onclick="FiltroStatus('Ativo')">Ativos</button>
        <button type="button" class='btn @(ViewBag.Status=="Inativo"?"btn-dark":"btn-secondary")' onclick="FiltroStatus('Inativo')">Inativos</button>
      </div>
  </div>
  <div id="FiltroUsuarios" class="col-md-6">
    <div class="float-right">
      <div class="btn-group form-group" role="group">
          <button type="button" id="btn_todos" class='btn @(ViewBag.q==null || ViewBag.q=="Todos"?"btn-dark":"btn-secondary")' onclick="Filtro('Todos')">Todos</button>
          <button type="button" id="btn_instrutores" class='btn @(ViewBag.q=="Instrutores"?"btn-dark":"btn-secondary")' onclick="Filtro('Instrutores')">Instrutores</button>
          <button type="button" id="btn_oficializados" class='btn @(ViewBag.q=="Oficializados"?"btn-dark":"btn-secondary")' onclick="Filtro('Oficializados')">Oficializados</button>
      </div>
      <div class="btn-group form-group" role="group">
        <button type="button" id="btn_rjm" class='btn @(ViewBag.q=="RJM"?"btn-dark":"btn-secondary")' onclick="Filtro('RJM')">RJM</button>
          <button type="button" id="btn_alunos" class='btn @(ViewBag.q=="Alunos"?"btn-dark":"btn-secondary")' onclick="Filtro('Alunos')">Alunos</button>
      </div>
    </div>
  </div>
</div>
    

<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Grupo</th>
        <th>Instrumento</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereco</th>
        @if(sessao.Instrutor){
          <th></th>
          <th></th>
        }
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
        <tr class='tr_usuarios @(item.Ativo ? "" : "text-muted") @(item.Oficializado ? "tr_oficializado" : "") @(item.RJM ? "tr_rjm" : "") @(item.Instrutor ? "tr_instrutor" : "") @(item.Aluno ? "tr_aluno" : "")'>
          <td>
            @if(sessao.Instrutor){
              <a onclick='Edita(@(GEM.Helpers.JSON.Serialize(item)))'> @item.Nome </a>
            }
            else{
              @item.Nome
            }
          </td>
          <td>@item.Grupo</td>
          <td>@item.Instrumento</td>
          <td>@item.Email</td>
          <td>@item.Telefone</td>
          <td>@item.Endereco</td>
          @if(sessao.Instrutor){
            <td>
              <button class="btn btn-secondary btn-sm" onclick='Edita(@(GEM.Helpers.JSON.Serialize(item)))'> <i class="fa fa-pencil"></i> Editar</button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" onclick='DesejaRemover(@(item.Cod_Usuario), "@(item.Nome)")'><i class="fa fa-trash"></i> Apagar</button>
            </td>
          }
          
        </tr>    
      }
    </tbody>
  </table>
</div> 

<script>
  function FiltroStatus(status){
    Lista(status);
  }
  function Filtro(tipo){
            Tipo = tipo;
            $("#FiltroUsuarios .btn").removeClass("btn-dark");
            $("#FiltroUsuarios .btn").addClass("btn-secondary");
            
            let sel_id = ""
            if(tipo.length == 0 || tipo == "Todos"){
                $(".tr_usuarios").show();
                sel_id = "#btn_todos";
            }else{
                $(".tr_usuarios").hide();
                if(tipo=="Oficializados"){
                    $(".tr_oficializado").show();
                    sel_id = "#btn_oficializados";
                }
                if(tipo=="RJM"){
                    $(".tr_rjm").show();
                    sel_id = "#btn_rjm";
                }
                if(tipo=="Instrutores"){
                    $(".tr_instrutor").show();
                    sel_id = "#btn_instrutores";
                }
                if(tipo=="Alunos"){
                    $(".tr_aluno").show();
                    sel_id = "#btn_alunos";
                }
            }
            $(sel_id).removeClass("btn-secondary");
            $(sel_id).addClass("btn-dark");
        }
</script>
