@using GEM.Helpers;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model List<GEM.Repository.Usuario>
@{
  Layout = null;
  UserSession sessao = UserSession.Get(HttpContextAccessor.HttpContext);
}

    <div class="btn-group" role="group" aria-label="Filtro">
        <button type="button" id="btn_todos" class='btn ' onclick="Filtro('Todos')">Todos</button>
        <button type="button" id="btn_oficializados" class='btn ' onclick="Filtro('Oficializados')">Oficializados</button>
        <button type="button" id="btn_instrutores" class='btn ' onclick="Filtro('Instrutores')">Instrutores</button>
        <button type="button" id="btn_alunos" class='btn ' onclick="Filtro('Alunos')">Alunos</button>
    </div>

<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereco</th>
        <th>Instrumento</th>
        @if(sessao.Instrutor){
          <th></th>
          <th></th>
        }
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
        <tr class='tr_usuarios @(item.Oficializado?"tr_oficializado":"") @(item.Instrutor?"tr_instrutor":"") @(item.Aluno?"tr_aluno":"")'>
          <td>@item.Cod_Usuario</td>
          <td>@item.Nome</td>
          <td>@item.Email</td>
          <td>@item.Telefone</td>
          <td>@item.Endereco</td>
          <td>@item.Instrumento</td>
          @if(sessao.Instrutor){
            <td>
              <button class="btn btn-secondary btn-sm" onclick='Edita(@(Json.Serialize(item)))'> <i class="fa fa-pencil"></i> Editar</button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" onclick='DesejaRemover(@(item.Cod_Usuario), "@(item.Nome)")'><i class="fa fa-trash"></i> Apagar</button>
            </td>
          }
          
        </tr>    
      }
    </tbody>
  </table>
</div> 
